.demo1{
  position: relative;
  height: 100%;
  width: 100%;

  // 修改成功确认按钮
  .success-button{
    .ant-float-btn-body{
      background-color: #58c621;
      .ant-float-btn-icon{
        color: #fff;
      }
    }
  }
  .float-button{
    right: 94px;
  }
  .start{
    position: absolute;
    display: inline-block;
    border: 2px transparent dotted;
    // 禁止img标签自带的拖动的残影
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }
  .end{
    position: absolute;
    display: inline-block;
    border: 2px transparent dotted;
    // 禁止img标签自带的拖动的残影
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
  }

  .edit-status{
    border: 2px gray dotted;
  }
}